@model Milestone.Models.Board
<script src="https://code.jquery.com/jquery-3.6.4.min.js"integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="crossorigin="anonymous"></script>
<script src="/js/Game.js"></script>
<style>
	button {
		border: none;
	}
</style>
<table>
	@for (var i = 0; i < Model.Size; i++)
	{
		<tr>
			@for (var j = 0; j < Model.Size; j++)
			{
			<td>
				<form>
					<div>
						<input name="col" value="@Model.Grid[i,j].Row" hidden>
						<input name="row" value="@Model.Grid[i,j].Col" hidden>
						<button type="submit" class="cellButton" asp-controller="Game" asp-action="leftClick">
								@if(Model.Grid[i,j].IsVisited == true)
								{
									<img src="/img/visitedSquare.png" width="70px" height="70px">
								}else if(Model.Grid[i,j].IsFlagged == true) 
								{
									<img src="/img/flag.jpg" width="70px" height="70px">
								}
								else
								{
									<img src="/img/square.jpeg" width="70px" height="70px">
								}
								
						</button>
					</div>
				</form>
					
			</td>
		}
		</tr>
	}
</table>
